.csFEEEEB43{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt;line-height:1.15}
.cs8FD7A101{color:#365F91;background-color:transparent;font-family:Cambria; font-size:14pt; font-weight:bold; font-style:normal; }
.csC9ACA934{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt;line-height:15.75pt}
.cs61B9ED79{color:#131313;background-color:transparent;font-family:Cambria; font-size:10pt; font-weight:normal; font-style:normal; }
.cs716D1EEE{color:#131313;background-color:transparent;font-family:Cambria; font-size:10pt; font-weight:normal; font-style:italic; }
.cs2C6A8854{color:#131313;background-color:transparent;font-family:Cambria; font-size:10pt; font-weight:bold; font-style:normal; }
.cs38270E87{text-align:center;text-indent:0pt;margin:0pt 0pt 0pt 0pt;line-height:15.75pt}
